/* The main content */
.main-content {
  max-width: 1400px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 40px;
}

.thread{
  border-radius: 10px;
  background-color: #7B68EE;
  padding-left: 50px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex:auto;
}

.joke {
	background-color: #FFFAFA;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex: 0 0 200em;
  border-bottom:solid;
}

.joke-head {
	border-radius: 10px 10px 0px 0px;
	background-color: #7B68EE;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex: 0 0 200em;
}

.form-head {
	border-radius: 10px 10px 0px 0px;
	background-color: #7B68EE;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;

}

.form-tail {
	border-radius: 0px 0px 10px 10px;
	background-color: #7B68EE;
  padding-left: 10px;
  width: auto;
  height: auto;
  
}

.joke-tail {
	border-radius: 0px 0px 10px 10px;
	background-color: #7B68EE;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex: 0 0 200em;
}


.votecol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.threadbar {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
}

.sub-title {
  max-width: 300px;
  /*padding-right: 10px;*/
  margin: 0 0 10px 0px;
}

.joke:hover {

	background-color: #DCDCDC;
}

.joke-img {
 	width: 100%;
 	max-height: 500px;
 	color:#fff;
 	background-repeat:no-repeat;
 	background-attachment:scroll;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

.joke-title {
	color: black;
	font-size: 20px;
	margin: 0px 0px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.joke-head-font {
	color: #FFFAFA;
	font-size: 20px;
	margin: 0px 0px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.meta {
	color: #fff;
	font-size: 18px;
	font-weight: 900;
}

.joke-desc {
	color: black;
	font-size: 12px;
  margin-top: 35px;
}

.smiley {
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.smiley:hover {
	width: 50px;
	padding-left: 0px;
	padding-right: 0px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#info {
	padding-left: 20px;
}

#vote {
	padding: 10px 20px;
}

#score {
	padding-left: 48px;
}

.count {
	padding-right: 32px;
	padding-top: 0px;
	margin-top: 0px;
}
