.post-main {
	background-color: #FFFAFA;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex: 0 0 200em;
}

.postheading{
  background-color: #FFFAFA;
  padding-left: 50px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex: 0 0 200em;
}

.commentheading{
  background-color: #FFFAFA;
  padding-left: 50px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.comment-desc {
	color: ##000000;
	font-size: 12px;
  margin-top: 10px;
}

.commentformat {
	background-color: #FFFAFA;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex: 0 0 200em;
  border-bottom: solid;
}
